body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #201e4b;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 2rem;
}
p {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}
img {
    max-width: 50%;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}
a {
    margin-top: 20px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border: 1px solid #7a58e4;
    background-color: #7a58e4;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
a:hover {
    background-color: #7a58e4;
    color: white;
}

@keyframes hop {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#dart-image {
    animation: hop 1s ease-in-out infinite;
}