/* Grundopsætning (Mobile-First) */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #201e4b;
    line-height: 1.6;
    padding: 10px;
}

/* Header */
main {
    font-size: 1.8em;
    color: #7a58e4;
    margin-bottom: 20px;
    text-align: center;
    padding: 15px 0;
}


main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.info-burgerboom {
    background-color: #ECE9E7;
    font-size: 1.5em;
    margin: 50px;
    max-width: 95%;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column; 
}

/* Styling af overskriften */
.info-burgerboom h3 {
    color: #201e4b;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

/* Styling af underoverskrift */
.underoverskrift {
    background-color:#7a58e4;
    color:#201e4b;
    text-align: center;
    font-size: 0.6em;
    font-weight: bold;
    border-radius: 50px;
}


.info-arrangement {
    background-color: #3db180;
    color: #201e4b;
    border-radius: 20px;
    margin: 20px 0px;
    padding: 10px;
}

.burgerboom-menu {
    background-color: #3db180;
    color: #201e4b;
    font-size: 0.8em;
    border-radius: 20px;
    margin: 20px 0px;
    padding: 10px;
}
.burger-historie {
    background-color: #ECE9E7;
    color: #201e4b;
    font: size 1.5em;
    margin: 50px;
    max-width: 95%;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column; 
}

/* Styling af send email knap */
.btn-send-email {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a58e4;
    border: none;
    border-radius: 20px;
    padding: 15px 40px;
    margin: 5px 30px;
    
}

.btn-send-email a {
    color: white;
    text-decoration: none;
    font-weight: bold;    
    color:#201e4b;
    font-size: 1.6em;
}

.tekst-info p {
    color: #201e4b;
    font-size: 0.6em;
}

/* Styling af link i knapperne */
.btn-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-burgerboom {
    background-color: #7a58e4;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    margin: 5px 40px;
    color: #fff;
    font-size: 15px;
}






/* Responsivt layout for større skærme */
@media (min-width: 768px) {
   
    .info-burgerboom {
        flex-direction: column; /* Overskrift forbliver øverst */
        align-items: center;    /* Centrer layoutet */
        gap: 20px;
    }
    

    .info-burgerboom > .info-arrangement,
    .info-burgerboom > .burgerboom-menu {
        display: inline-block; /* Sørger for, at de opfører sig vandret */
        width: 48%;            /* Fordel pladsen mellem de to elementer */
        vertical-align: top;   /* Holder bokse på samme linje */
    }
}

