/* Styling til hele main */
main {
    background-color: #201e4b;
    padding: 20px;
    color: #fff;
    text-align: center;
}

/* Overskrift */
main h1 {
    font-size: 4rem;
    color: #7a58e4;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

/* Container for tekst og billede */
.content {
    display: flex;
    flex-direction: column; /* På mobile enheder vises tekst og billede i en kolonne */
    gap: 20px; 
}

/* Tekst til venstre */
.text {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: left;
}

/* Billede */
.image {
    width: 100%;
    height: auto;
}

.language-switcher {
    gap: 10px;
    justify-content: flex-end; /* Standard til desktop */
    padding: 10px;
    background-color: #7a58e4;
}

.language-switcher a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.language-switcher a.active {
    background-color: #201e4b; 
    color: #fff;
}

.language-switcher a:hover:not(.active) {
    background-color: #3db180;
    color: #fff;
}


/* Media Query for desktop */
@media (min-width: 768px) {
    .language-switcher {
        justify-content: flex-start; /* Flyt links til venstre */
        padding: 10px 15px; /* Juster padding */
        left: 0; /* Sørg for, at den starter ved venstre kant */
    }
    /* Gør indholdet horisontalt (tekst til venstre og billede til højre) */
    .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .text {
        width: 50%; 
    }

    .image {
        width: 40%; 
    }
}
