/* Grundopsætning (Mobile-First) */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #201e4b;
    line-height: 1.6;
    padding: 10px;
}

/* Header */
header {
    font-size: 1.8em;
    color: #7a58e4;
    margin-bottom: 20px;
    text-align: center;
    padding: 15px 0;
}

/* Styling af sectionen priser */
.priser {
    background-color: #7a58e4;
    font-size: 1.5em;
    margin: 50px;
    max-width: 95%;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


/* Styling af placeringen i containeren */
.tider-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap:30px; 
    margin-top: 10px;
}

/* Styling af placeringen i containeren */
.tidlig, .sent {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 40px; 
    text-align: center; 
}

.tidlig p, .sent p {
    margin: 10px 0;
    line-height: 1.7;
}

/* Styler class pris for at gøre teksten større */
.pris{
    font-size: 2em;
    font-weight: bold;
}

/* Styling af sectionen info-kareoke */
.info-karaoke {
    margin: 50px;
    max-width: 95%;
    padding: 20px;
    text-align: center;
    background-color: #201e4b;
    border: 2px solid #3db180;
    border-radius: 8px;
}

/* Styling af link i infoboks */
.info-karaoke a {
    color: #3db180;
    text-decoration: none;
    font-weight: bold;
}

/* Styling af link i knapperne */
.btn-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-karaoke {
   background-color: #3db180;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    margin: 5px 40px;
    color: #fff;
    font-size: 15px;
}


/* Media Queries (kun for Desktop) */
@media (min-width: 768px) {

    .btn-karaoke:hover{
        background-color: #201e4b;
    }
}