/* Grundopsætning (Mobile-First) */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #201e4b;
    line-height: 1.6;
    padding: 10px;
}

/* Header */
header {
    font-size: 1.8em;
    color: #7a58e4;
    margin-bottom: 20px;
    text-align: center;
    padding: 15px 0;
}

.priser {
    background-color: #7a58e4;
    margin: 50px;
    max-width: 95%;
    padding: 20px;
    border-radius: 8px;
}

.info-karaoke {
    margin: 50px;
    max-width: 95%;
    padding: 20px;
    text-align: center;
    background-color: #201e4b;
    border: 2px solid #3db180;
    border-radius: 8px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-karaoke {
   background-color: #3db180;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    margin: 5px 40px;
    color: #fff;
    font-size: 15px;
}


/* Media Queries (kun for Desktop) */
@media (min-width: 768px) {

    .btn-karaoke:hover{
        background-color: #201e4b;
    }
}