/* Basis-styling - Mobil-first */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #201e4b;
    color: white;
}
/* styleing af h1 text på siden*/
h1 {
    margin: 0 0 10px;
    color: #7a58e4;
    text-align: center; /*centere texten*/
    font-size: 50px; 
    font-weight: bold;
    letter-spacing: 2px; /*2px space mellem bogstaverne*/
    text-transform: uppercase; /*store bogstaver*/
    margin: 0;
    
}
/* h2 styleing*/
h2 {
    color: #201e4b;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* tykkelsen på texten*/
strong {
    font-weight: bold;
}

main {
    padding: 20px;
    max-width: 600px; /* styler bredden på main tagget*/
    margin: 0 auto;
}

/* Information Boxes */
.info-section {
    margin-top: 20px;
}
/* her under styles infoboxen med farve, margin, padding, border radius, font størrelsen, font størrelsen på p & h2*/
.info-box {
    background-color: #7a58e4;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.info-box p, .info-box li {
    margin: 10px 0;
    line-height: 1.6;
    font-size: 1rem;
}

.info-box h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

/* Resposive design, som hjælper */
@media (min-width: 768px) {
    main {
        max-width: 900px;
    }

    .info-box {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .info-box h2 {
        font-size: 1.6rem;
    }

    .info-box p, .info-box li {
        font-size: 1.1rem;
    }
}
