/* Basis-styling - Mobil-first */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #201e4b;
    color: white;
}

/* Styling for main-området */
main {
    padding: 20px;
    max-width: 600px; /* Styler bredden på main-tagget */
    margin: 0 auto;
}

/* Styling af h1 tekst kun i main */
main h1 {
    margin: 0 0 10px;
    color: #7a58e4;
    text-align: center;
    font-size: 50px; 
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* h2 styling kun i main */
main h2 {
    color: #201e4b;
}

/* Liste-styling kun i main */
main ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Tykkelsen på teksten kun i main */
main strong {
    font-weight: bold;
}

/* Information Boxes kun i main */
main .info-section {
    margin-top: 20px;
}

main .info-box {
    background-color: #7a58e4;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

main .info-box p, main .info-box li {
    margin: 10px 0;
    line-height: 1.6;
    font-size: 1rem;
}

main .info-box h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

/* Responsivt design kun for main */
@media (min-width: 768px) {
    main {
        max-width: 900px;
    }

    main .info-box {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    main .info-box h2 {
        font-size: 1.6rem;
    }

    main .info-box p, main .info-box li {
        font-size: 1.1rem;
    }
}
